<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
  <%= link_to 'edit', edit_article_path(@article)%>
      <%= link_to 'remove', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %>

 <p> <%= link_to 'return to index', articles_path %> </p>
